params {
    sample_sheet = "${workflow.projectDir}/test/sample_sheet.tsv"
    prime5_trim_len = 10
    prime3_trim_len = 10
    output_dir = "${workflow.projectDir}/test_out"
    bowtie_idx = "/project/gzy8899/references/Arabidopsis_thaliana/bowtie2_idx/TAIR10"
    data_dir = "${workflow.projectDir}/test/raw_data"
}