params {
    sample_sheet = "${projectDir}/test/sample_sheet.tsv"
    prime5_trim_len = 10
    prime3_trim_len = 10
    output_dir = "${projectDir}/test_out"
    bowtie_idx = "/project/gzy8899/references/Arabidopsis_thaliana/bowtie2_idx/TAIR10"
    data_dir = "${projectDir}/test/raw_data"
    remove_rRNA = false
    rRNA_fa = null
}